*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    font-family: monospace;
}
.container
{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #128093 50%, #20f1f1 50%);
}
.wrapper
{
    display: flex;
    justify-content: space-between;
}
.right
{
    width: 80%;
    height: 100vh;
}
.accordion
{
    width: 700px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.accordion h2
{
    text-align:center;
    /* margin-bottom: 2rem; */
    text-transform: uppercase;
    color: #fff;
    font-size: 2rem;
    letter-spacing: 2px;
}
.accordion-item
{
    width: 100%;
    margin: 15px 0;

}
.accordion-header
{
    padding: 15px 16px;
    text-transform: capitalize;
    font-weight: 900;
    font-family: monospace;
    font-size: 25px;
    background-color: #0c546c;
    position: relative;
    cursor: pointer;
    color: #fff;
}
.accordion-header::after
{
    content: "<";
    position: absolute;
    right: 15px;
    font-size: 30px;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
}
.acoordion-body
{
    max-height: 0px;
    overflow: hidden;
    background: #97c5c5;
    transition: all 0.2s linear;
    color:#fff;
    letter-spacing: 2px;
}

.accordion-body-content
{
    padding: 8px 20px;
}

.accordion-header.active::after
{
    content: ">";
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
}
.accordion-header.active + .acoordion-body
{
    max-height: 100px;
}


/* left side css */

:root
{
    --blue:#3498db;
    --dark-blue:#2980b9;
    --background:#081118;
    --grey:#333;
    --light-grey:#3b3b3b;
}
.container .fa-bars
{
    left: 150px;
    position: absolute;
    margin: 10px 0 20px 0;
    cursor: pointer;
    color: #fff;
}
#checkbox
{
    display: none;
}
#checkbox:checked ~ .wrapper .left .menu
{
    left: 0;
}
.left
{
    width: 20%;
    display: flex;
    justify-content: center;
}
.menu
{
    width: 20rem;
    border-radius: 0.2rem;
    overflow: hidden;
    position: fixed;
    left: -100%;
    top: 10rem;
    transition: 0.5s;
}
.menu a
{
    text-decoration: none;
}
.menu-item
{
    list-style: none;
    border-top: 1px solid var(--dark-blue);
}
.btn
{
    display: block;
    padding: 1rem 1.2rem;
    background: var(--blue);
    color:#fff;
    position: relative;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: 2px;
}
.btn::before
{
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    background: var(--blue);
    bottom: -0.5rem;
    z-index: 11;
    transform: rotate(45deg);
}
.menu li:last-child .btn
{
    position: relative;
}
.menu li:last-child .btn::before
{
    content: '';
    background: none;
}
.btn i
{
    padding: 0 8px;
}
.menu-item__sub
{
    max-height: 0;
    overflow: hidden;
    transition: 0.2s;
}
.menu-item__sub a
{
    display: block;
    padding: 15px 10px;
    background-color: #4f5253;
    margin-top: 2px;
    position: relative;
    text-transform: capitalize;
    color: #fff;
    font-weight: 700;
}
.menu-item__sub a::before
{
    content: '';
    width: 5px;
    height: 100%;
    background: var(--dark-blue);
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.menu-item__sub a:hover::before
{
    opacity: 1;
}
.menu-item:target .menu-item__sub
{
    max-height: 150px;
}